* {
  box-sizing: border-box;
  margin: 0;
}

.main-wrapper {
  margin: 40px 0;
  padding: 20px;
}

.logo-wrapper {
  width: 100%;
  margin: 0 auto;
}

.logo-wrapper img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.more-button {
  margin-top: 10px;
  box-shadow: 4px 4px 2px;
  padding: 2px 40px;
}

.button:active {
  background-color: #06668F;
  color: white;
}

.hidden-content {
  display: none;
}

@media (min-width: 576px) {

  label {
    display: block;
  }

  .logo-wrapper {
    margin-top: 30px;
    margin-bottom: 70px;
    width: 35%;
  }
}