* {
  box-sizing: border-box;
  margin: 0;
}

.main-wrapper {
  margin: 40px 0;
  padding: 20px;
}

.logo-wrapper {
  width: 100%;
}

.logo-wrapper img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.more-button {
  margin-top: 10px;
  box-shadow: 4px 4px 2px;
  padding: 2px 40px;
}