/* MOBILE VERSION FIRST */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.article {
  text-align: justify;
  margin-bottom: 20px;
  max-width: 100%;
  font-family: 'Georgia', sans-serif;
  font-size: 0.9em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;
}

.article > div > * {
  padding: 2px;
}

.anchor, a {
  color: #06668F;
  text-decoration: underline;
  cursor: pointer;
}

.content {
  flex-basis: 100%;
}

.hidden {
  display: none;
}

/* TABLET AND LAPTOP VERSION */
@media (min-width: 576px) {

  .thumbnail {
    flex-basis: 18%;
  }
  
  .thumbnail img {
    width: 100%;
  }

  .content {
    padding-left: 15px;
  }

  .hidden {
    display: block;
  }

  img.hidden {
    display: inline-block;
  }
}