* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.search-box {
   background-color: #DDDDDD;
   margin: 30px auto;
   padding: 30px 15px;
   border: solid 2px black;
   width: 100%;
}

.search-box.on-top {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   margin-top: 0;
   padding: 20px;
   padding-bottom: 0;
   border-left: none;
   display: flex;
   flex-wrap: wrap;
}

label.on-top {
   display: none;
}

form {
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   width: 100%;
}

.col {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.col.on-top {
   display: inline-block;
   width: auto;
}

div input, select, button {
   background-color: white;
   border: solid 2px black;
   margin-bottom: 20px;
   padding: 5px;
}

div label {
   padding-bottom: 7px;
}

.submit-button {
   margin: 0 auto;
   margin-top: 25px;
   padding: 5px 20px;
   box-shadow: 4px 4px 2px;
}

.submit-button.on-top {
   margin-top: 0;
   margin-left: 10px;
}

@media (min-width: 576px) {

   form.on-top {
      align-items: baseline;
   }

   .col > * {
      width: 90%;
   }

   .col-lg-6 {
      width: 50%;
   }

   .col-lg-4 {
      width: 33.33333333%;
   }

   .col-lg-2 {
      width: 16.66666667%;
   }

   .search-box {
      width: 85%;
   }

   .search-box.on-top {
      width: 86%;
   }

   .keywords-div {
      width: 50%;
   }

   .material-div {
      width: 30%;
   }

   .submit-button.on-top {
      margin-top: 40px;
      margin-left: 20px;
   }
}