* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.search-box {
   background-color: #DDDDDD;
   margin: 30px auto;
   padding: 30px 15px;
   border: solid 2px black;
   width: 100%;
}

form {
   margin: 0 auto;
   width: 100%;
}

.col {
   display: flex;
   flex-direction: column;
   width: 100%;
}

div input, select, button {
   background-color: white;
   border: solid 2px black;
   margin-bottom: 20px;
   padding: 5px;
}

div label {
   padding-bottom: 7px;
}

.submit-button {
   margin: 0 auto;
   margin-top: 20px;
   padding: 5px 20px;
   box-shadow: 4px 4px 2px;
}

@media (min-width: 576px) {

   .col {
      display: inline-block;
   }
   .col > * {
      width: 90%;
   }

   .col-lg-6 {
      width: 50%;
   }

   .col-lg-4 {
      width: 33.33333333%;
   }

   .col-lg-2 {
      width: 16.66666667%;
   }

   .search-box {
      width: 85%;
   }

   .keywords-div {
      width: 50%;
   }

   .material-div {
      width: 30%;
   }
}